<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.islandturtlewatch.nest.reporter.backend.endpoints.ImageEndpoint,com.islandturtlewatch.nest.reporter.backend.endpoints.ReportEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>ImageServlet</servlet-name>
  <servlet-class>com.islandturtlewatch.nest.reporter.web.servlets.ImageServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ImageServlet</servlet-name>
  <url-pattern>/web/image/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>CsvServlet</servlet-name>
  <servlet-class>com.islandturtlewatch.nest.reporter.web.servlets.CsvServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>CsvServlet</servlet-name>
  <url-pattern>/web/reporting/csv</url-pattern>
 </servlet-mapping>
 
 <servlet>
  <servlet-name>ImagePostUpload</servlet-name>
  <servlet-class>com.islandturtlewatch.nest.reporter.backend.servlets.ImagePostUpload</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>ImagePostUpload</servlet-name>
  <url-pattern>/backend/web-post-upload</url-pattern>
 </servlet-mapping>
</web-app>